#basketImg {
    position: absolute;
    bottom: 2px;
    z-index: -1;
}
.egg {
    position: absolute;

}

#score{
    position: absolute;
    right: 10px;
    color: white;
    top: 0;
}
body{
    background-image: url("b2.jpg");
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#animatePoint{
    position: absolute;
    bottom: 5px;
}